<%- include('../layouts/header') %>
<%- include('../layouts/menu') %>
    <div class="container">
        <div class="panel">
            <p class="lead"> <%= dadosRota.msg %></p>
            <p><a class="btn btn-primary" href="<%= dadosRota.rota %>">Votlar</a></p>    
        </div>
    </div>
<%- include("../layouts/footer") %>
